@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #969696;
    color: #000000;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, #9e9e9e, #787878);
}

header,
footer {
    padding: 10px;
    color: #000;
}

header a,
footer a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

table{
    margin: auto;
    color: #000;
    border-collapse: collapse;
    width: 60%;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0;
}

p {
    margin: 0.5em 0;
}

td, a, tr{
    padding: 5px 10px;
}

form{
    padding: 25px;
}

tbody tr:hover {
    background-color: #838383;
    cursor: pointer;
}
