<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Songs</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <div th:insert="~{fragments/header :: header}"></div>

    <main>
    <h1>All Songs</h1>

    <form th:action="@{/songs/add}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist" required>
    
        <label for="album">Album:</label>
        <input type="text" id="album" name="album" required>
    
        <label for="genre">Genre:</label>
        <input type="text" id="genre" name="genre">
    
        <label for="releaseYear">Release Year:</label>
        <input type="number" id="releaseYear" name="releaseYear">
    
        <label for="duration">Duration:</label>
        <input type="text" id="duration" name="duration">
    
        <button type="submit">Add Song</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="song : ${songs}">
                <td th:text="${song.name}">Song Name</td>
                <td th:text="${song.artist}">Artist</td>
                <td th:text="${song.album}">Album</td>
                <td th:text="${song.genre}">Genre</td>
                <td th:text="${song.releaseYear}">Year</td>
                <td th:text="${song.duration}">Duration</td>
                <td>    <a th:href="@{/choose-playlist/{id}(id=${song.id})}">Add to Playlist</a>    </td>
            </tr>
        </tbody>
    </table>

    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>